<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Weasy Board</title>
  
  <!-- Favicon -->
  <link rel="shortcut icon" href="/img/svg/logo.svg" type="image/x-icon">
  <!-- feather icon -->
  <script src="https://unpkg.com/feather-icons"></script>
  
  <!-- Custom styles -->
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
  <link rel="stylesheet" href="/css/style.min.css">
  <link rel="stylesheet" href="/css/calendar.css">
  
  <!-- (기존 양식에서) weasy css로 덮어쓰기 -->
  <link rel="stylesheet" href="/css/weasy.css">
  
  <!-- modal css -->
  <link rel="stylesheet" href="/css/modal.css">
	
  <!-- Datepicker -->  
  <!-- JQuery -->
  <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
  <script src="/js/jquery-1.12.1.min.js"></script>
  <script src="/js/jquery-ui.min.js"></script>
  
  <!-- websocekt연결 -->
  <script src="/js/websocket.js"></script>
  
  
</head>

<body class>

<div class="layer"></div>

<!-- ! Body -->
<div class="page-flex">
  
<!-- Sidebar -->
<aside class="sidebar">
    <div class="sidebar-start">
    
    	<!-- 상단 로고 부분 -->
        <div class="sidebar-head">
        	<!-- 로고와 타이틀 -->
            <a href="/board/board" class="logo-wrapper" title="Home">
                <span class="sr-only">Home</span>
                <span class="icon logo" aria-hidden="true"></span>
                <div class="logo-text">
                    <span class="logo-title">wEasy</span>
                    <span class="logo-subtitle">we work easy</span>
                </div>
            </a>
            
            <!-- 사이드 바 접히는 기능 버튼 -->
            <button class="sidebar-toggle transparent-btn" title="Menu" type="button">
                <span class="sr-only">Toggle menu</span>
                <span class="icon menu-toggle" aria-hidden="true"></span>
            </button>
        </div>
        
        <!-- 로그 아래에 사용자 이미지와 사용자 정보 표시 -->
        <!-- <div class="sidebar-head">
        	<div class="box">
        	<img class="profile" src="/img/avatar/avatar-face-03.png" alt="">
        	</div>
        	<span class="text">나의 프로필</span>
        </div> -->
        
<!-- 사이드바 메뉴 부분 -->
        <div class="sidebar-body">
            <ul class="sidebar-body-menu">
            	<!-- 1. 대시보드 -->
                <li>
                    <a class="active" href="" id="mainBoardSideBar"><span class="icon home" aria-hidden="true"></span>Board</a>
                </li>
                
                <!-- 2. 공지사항 목록 -->
                <li>
                    <a class="noticeSidebar" href="##"><span class="icon bell" id="hey" aria-hidden="true"></span>notice list</a>
                </li>
                                
                <!-- 5. 캘린더 -->
                <li>
                    <a href="##" id="calendarSidebar"><span class="icon calendar" aria-hidden="true"></span>Calendar</a>
                </li>
                
				<!-- 3. 팀 -->
                <li>
                    <a class="show-cat-btn" href="">
                        <span class="icon user-3" aria-hidden="true"></span>
                        Team / Project
                        <span class="category__btn transparent-btn" title="Open list">
                            <span class="sr-only">Open list</span>
                            <span class="icon arrow-down" aria-hidden="true"></span>
                        </span>
                    </a>
                    <!-- 팀 목록 보여주는 아이콘 -->
                    <ul class="cat-sub-menu">
						<th:block th:each="teamVo : ${teamList}">
							<li class="stat-cards-info__num">
					        	<button type="button" class="teamTask" th:text="${teamVo.teamName}"></button>
					        	<!-- 옵저버이면 버티컬 버튼 안보이게 -->
					        	<th:block th:if="${teamVo.role == 0}">
					        		<button type="button" class="teamContextMenu" id="teamContextMenu">
					        			<img class="teamContextMenu" src="/img/svg/more-vertical-white.svg" alt="">
					        		</button>
					        	</th:block>
							</li>
				            <input type="hidden" class="teamNo" th:value="${teamVo.teamNo}">
				            <input type="hidden" class="userEmail" th:value="${teamVo.userEmail}">
						</th:block>
                    </ul>
                </li>
                
                <!-- 4. 팀 추가 메뉴 -->
                <li>
                    <a href="##" id="addTeamProject"><span class="icon edit" aria-hidden="true"></span>add Team / Project</a>
                </li>
            </ul>
        </div>
    </div>
</aside>
<!-- Sidebar -->

<!-- 팀 목록에 대한 context menu  -->
<menu type="context" class="contextMenu" id="menu">
  <menuitem label="add Team/Project Member"></menuitem>
  <hr/>
  <menuitem label="edit Team/Project"></menuitem>
  <hr/>
  <menuitem label="Delete Team/Project"></menuitem>
</menu>
<!-- 팀 목록에 대한 context menu 끝 -->

<!-- modal : teamMemberAdd -->
<th:block th:replace="~{ ./modal/teamMemberAdd :: modal( ~{:: #add_team_modal} ) }"></th:block>
<!-- teamMemberAdd 끝 -->

<!-- modal : team/project Add -->
<th:block th:replace="~{ ./modal/teamProjectAdd :: modal( ~{:: #modal} ) }"></th:block>
<!-- team/project Add 끝 -->

<!-- modal : noticeDetailList -->
<th:block th:replace="~{ ./modal/noticeDetail :: modal( ~{:: #modal} ) }"></th:block>
<!-- noticeDetailList 끝 -->

<div class="main-wrapper">
	
	<!-- 상단 바 -->
    <nav class="main-nav--bg">
  	<div class="container main-nav">
  
  	<!-- 상단바 - 왼쪽 검색 부분 -->
    <div class="main-nav-start">
    	<!-- <div class="search-wrapper">
        	<i data-feather="search" aria-hidden="true"></i>
        	<input type="text" placeholder="Enter keywords ..." required>
      	</div> -->
    </div>
    
    <!-- 상단바 - 오른쪽 부분 -->
    <div class="main-nav-end">
	  
      	<!-- 2. 알림창 부분 -->
      	<div class="notification-wrapper">
        	<button class="gray-circle-btn dropdown-btn" title="To messages" type="button">
          		<span class="sr-only">To messages</span>
          		<span class="icon notification" id="userNoticeIcon" aria-hidden="true"></span>
        	</button>
        
        	<!-- 알림창 드롭다운 바 부분 -->
        	<ul class="users-item-dropdown notification-dropdown dropdown" id="userNotice">
          		<!-- 실시간으로 notice를 읽어들여 뿌려주는 부분 -->
        	</ul>
      	</div>
      	<!-- 알림창 끝 -->
      
      	<!-- 3. 상단 바 사용자 아이콘 -->
      	<div class="nav-user-wrapper">
        	<button href="##" class="nav-user-btn dropdown-btn" title="My profile" type="button">
          		<span class="sr-only">My profile</span>
          		<span class="nav-user-img">
            		<picture>
            			<img id="header-userprofile" src="/img/avatar/user.png" alt="User name">
            		</picture>
          		</span>
        	</button>
        	<ul class="users-item-dropdown nav-user-dropdown dropdown">
          		<li>
          			<a href="/board/profile">
              			<i data-feather="user" aria-hidden="true"></i>
              			<span>Profile Update</span>
            		</a>
            	</li>
          		<li>
          			<a class="danger" onclick="LogOut()">
              			<i data-feather="log-out" aria-hidden="true"></i>
              			<span>Log out</span>
            		</a>
            	</li>
        	</ul>
      	</div>
      	<!-- 상단 바 사용자 아이콘 끝 -->
      
    </div>
    <!-- 상단바 - 오른쪽 부분 끝 -->
    
	</div>
	</nav>
	<!-- 상단바 끝 -->


<!-- 보드 메인 부분 (working board) -->
	
	<main class="main users chart-page " id="skip-target">
		<th:block th:replace="~{ ./include/main :: main( ~{:: .container} ) }"></th:block>
		<th:block th:replace="~{ ./include/task :: task( ~{:: .container} ) }"></th:block>
		<th:block th:replace="~{ ./include/notice :: notice( ~{:: .container} ) }"></th:block>
		<th:block th:replace="~{ ./include/calendar :: calendar( ~{:: .container} ) }"></th:block>
	</main>
	
  </div><!-- main-wrapper 끝 -->
</div><!-- page-flex 끝 -->

<!-- 팀 task 카드 -->
<th:block th:replace="~{ ./modal/taskCard :: modal( ~{:: #card_modal} ) }"></th:block>
<!-- 팀 task 카드 끝 -->






<script th:inline="javascript">
	var msg = JSON.parse('[[${msg}]]');
	if(msg != null){
		alert(msg);
	}
	
	/* 화면이 로드 되는 제일 마지막에 내가 속한 팀리스트를 가지고와서 workspace에 뿌려준다. */
	loadProfile();
	loadMainBoard();
	userNotice();
	
	function LogOut(){
		doClose();
		location.href = "/user/logOut";
	}
</script>


<!-- 팀/프로젝트 추가 date -->
	
	<script>
	$(function() {
		var dateFormat = "yy-mm-dd", from = $("#teamRegDate").datepicker({
			dateFormat : 'yy-mm-dd',
			defaultDate : "+1w",
			changeMonth : true,
			numberOfMonths : 2
		}).on("change", function() {
			to.datepicker("option", "minDate", getDate(this));
		}), to = $("#teamEndDate").datepicker({
			dateFormat: 'yy-mm-dd',
			defaultDate : "+1w",
			changeMonth : true,
			numberOfMonths : 2
		}).on("change", function() {
			from.datepicker("option", "maxDate", getDate(this));
		});

		function getDate(element) {
			var date;
			try {
				date = $.datepicker.parseDate(dateFormat, element.value);
			} catch (error) {
				date = null;
			}
			return date;
		}
	});
</script>
	

<!-- 보드 리스트의 카드 date -->


<script>
	$(function() {
		var dateFormat = "yy-mm-dd", from = $("#startDate").datepicker({
			dateFormat : 'yy-mm-dd',
			defaultDate : "+1w",
			changeMonth : true,
			numberOfMonths : 2
		}).on("change", function() {
			to.datepicker("option", "minDate", getDate(this));
		}), to = $("#targetDate").datepicker({
			dateFormat: 'yy-mm-dd',
			defaultDate : "+1w",
			changeMonth : true,
			numberOfMonths : 2
		}).on("change", function() {
			from.datepicker("option", "maxDate", getDate(this));
		});

		function getDate(element) {
			var date;
			try {
				date = $.datepicker.parseDate(dateFormat, element.value);
			} catch (error) {
				date = null;
			}
			return date;
		}
	});
</script>

	<!-- calendar -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.css" />
  <link rel='stylesheet' media='print' href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.print.min.css' />
  <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.js'></script>


<!-- Icons library -->
<script src="/plugins/feather.js"></script>
<!-- Custom scripts -->
<script src="/js/script.js"></script>
<!-- weasy custom js -->
<script src="/js/weasy.js"></script>
<script src="/js/notice.js"></script>
<script src="/js/calendar.js"></script>

</body>
</html>