<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Weasy Board</title>
  

  
  <!-- Favicon -->
  <link rel="shortcut icon" href="/img/svg/logo.svg" type="image/x-icon">
  <!-- feather icon -->
  <script src="https://unpkg.com/feather-icons"></script>
  
  <!-- Custom styles -->
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
  <link rel="stylesheet" href="/css/style.min.css">
  
  <!-- (기존 양식에서) weasy css로 덮어쓰기 -->
  <link rel="stylesheet" href="/css/weasy.css">
  
  <!-- modal css -->
  <link rel="stylesheet" href="/css/modal.css">

  <!-- Datepicker -->  
  <!-- JQuery -->
  <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
  <script src="/js/jquery-1.12.1.min.js"></script>
  <script src="/js/jquery-ui.min.js"></script>
  
<!-- 팀/프로젝트 추가 date -->
<script>
	$(function() {
		var dateFormat = "yy-mm-dd", from = $("#teamRegDate").datepicker({
			dateFormat : 'yy-mm-dd',
			defaultDate : "+1w",
			changeMonth : true,
			numberOfMonths : 2
		}).on("change", function() {
			to.datepicker("option", "minDate", getDate(this));
		}), to = $("#teamEndDate").datepicker({
			dateFormat: 'yy-mm-dd',
			defaultDate : "+1w",
			changeMonth : true,
			numberOfMonths : 2
		}).on("change", function() {
			from.datepicker("option", "maxDate", getDate(this));
		});

		function getDate(element) {
			var date;
			try {
				date = $.datepicker.parseDate(dateFormat, element.value);
			} catch (error) {
				date = null;
			}
			return date;
		}
	});
</script>

<!-- 보드 리스트의 카드 date -->
<script>
	$(function() {
		var dateFormat = "yy-mm-dd", from = $("#startDate").datepicker({
			dateFormat : 'yy-mm-dd',
			defaultDate : "+1w",
			changeMonth : true,
			numberOfMonths : 2
		}).on("change", function() {
			to.datepicker("option", "minDate", getDate(this));
		}), to = $("#targetDate").datepicker({
			dateFormat: 'yy-mm-dd',
			defaultDate : "+1w",
			changeMonth : true,
			numberOfMonths : 2
		}).on("change", function() {
			from.datepicker("option", "maxDate", getDate(this));
		});

		function getDate(element) {
			var date;
			try {
				date = $.datepicker.parseDate(dateFormat, element.value);
			} catch (error) {
				date = null;
			}
			return date;
		}
	});
</script>
</head>

<body class>

<div class="layer"></div>

<!-- ! Body -->
<div class="page-flex">
  
<!-- Sidebar -->
<aside class="sidebar">
    <div class="sidebar-start">
    
    	<!-- 상단 로고 부분 -->
        <div class="sidebar-head">
        	<!-- 로고와 타이틀 -->
            <a href="/" class="logo-wrapper" title="Home">
                <span class="sr-only">Home</span>
                <span class="icon logo" aria-hidden="true"></span>
                <div class="logo-text">
                    <span class="logo-title">wEasy</span>
                    <span class="logo-subtitle">we work easy</span>
                </div>
            </a>
            
            <!-- 사이드 바 접히는 기능 버튼 -->
            <button class="sidebar-toggle transparent-btn" title="Menu" type="button">
                <span class="sr-only">Toggle menu</span>
                <span class="icon menu-toggle" aria-hidden="true"></span>
            </button>
        </div>
        
        <!-- 로그 아래에 사용자 이미지와 사용자 정보 표시 -->
        <div class="sidebar-head">
        	<div class="box">
        	<img class="profile" src="/img/avatar/avatar-face-03.png" alt="">
        	</div>
        	<span class="text">나의 프로필</span>
        </div>
        
<!-- 사이드바 메뉴 부분 -->
        <div class="sidebar-body">
            <ul class="sidebar-body-menu">
            	<!-- 1. 대시보드 -->
                <li>
                    <a class="active" href="#"  id="mainBoardSideBar"><span class="icon home" aria-hidden="true"></span>Board</a>
                </li>
                
				<!-- 2. 팀 -->
                <li>
                    <a class="show-cat-btn" href="##">
                        <span class="icon user-3" aria-hidden="true"></span>
                        Team / Project
                        <span class="category__btn transparent-btn" title="Open list">
                            <span class="sr-only">Open list</span>
                            <span class="icon arrow-down" aria-hidden="true"></span>
                        </span>
                    </a>
                    <!-- 팀 목록 보여주는 아이콘 -->
                    <ul class="cat-sub-menu">
						<th:block th:each="teamVo : ${teamList}">
							<li class="stat-cards-info__num">
					        	<button type="button" class="teamTask" th:text="${teamVo.teamName}"></button>
					        	<button type="button" class="teamContextMenu" id="teamContextMenu">
					        		<img class="teamContextMenu" src="/img/svg/more-vertical-white.svg" alt="">
					        	</button>
							</li>
				            <input type="hidden" class="teamNo" th:value="${teamVo.teamNo}">
				            <input type="hidden" class="userEmail" th:value="${teamVo.userEmail}">
						</th:block>
                    </ul>
                </li>
                
                <!-- 3. 팀 추가 메뉴 -->
                <li>
                    <a href="##" id="addTeamProject"><span class="icon edit" aria-hidden="true"></span>add Team / Project</a>
                </li>
                
            </ul>
        </div>
    </div>
</aside>
<!-- Sidebar -->

<!-- 팀 목록에 대한 context menu  -->
<menu type="context" class="contextMenu" id="menu">
  <menuitem label="add Team/Project Member"></menuitem>
  <hr>
  <menuitem label="Delete Team/Project"></menuitem>
</menu>
<!-- 팀 목록에 대한 context menu 끝 -->

<!-- 팀에 팀멤버 추가 모달창 -->
<div class="modal" id="add_team_modal">
	<div class="add_team_modal_body">
		<div class="m_head">
			<div class="modal_title">
				<strong>add Member</strong>
			</div>
			<div class="close_btn close-area" onclick="closeAddMemberModal()">X</div>
		</div>
	
		<div class="m_body searchModal">
			<div class="searchBox">
				<div class="horizontal searchPart">
					<!-- 검색창 테스트 -->
					<div class="content">
						<!-- 타이틀 -->
	  					<div class="title">
	  						<span>[searchMember]</span>
	  						<br/> 
	  						<span class="smalltitle">search nickname or email</span>
	  					</div>
	  					<!-- 검색창 -->
	  					<div class="search">
	  						<div class="search-input">
                				<input ref="input" type="text" placeholder="Type something..." id="searchMember"/>
                			</div>
                			<!-- 검색결과 -->
	  						<div class="search-component">
	    						<ul class="search-list">
	    							<!-- 검색된 멤버 리스트 뿌려주기 -->
	    						</ul>
							</div>
	  					</div>

					</div>
				</div>
				<div class="horizontal addMemberList">
					<div class="content">
	  					<div class="title">
	  						<span>[add Team/Project Member]</span>
	  					</div>
	  					<div class="addMemeberList">
						<!-- 클릭하여 추가한 멤버 블럭 추가 -->
							<ul class="chooseMemberList">
								
							</ul>
						</div>
	  				</div>
				</div>
			</div>
		</div>
	
		<div class="m_footer">
			<button type="button" class="modal_btn cancle" onclick="closeAddMemberModal()">CANCLE</button>
			<button type="button" class="modal_btn save" id="addMemberSaveBtn">SAVE</button>
		</div>
	</div>
</div>
<!-- 팀에 팀멤버 추가 모달끝 -->

<!-- 팀/프로젝트 추가 모달창 -->
<form action="addTeam" method="post"> 
<div class="modal" id="modal">
	<div class="modal_body">
		<div class="m_head">
			<div class="modal_title">
				<strong>add Team / Project</strong>
			</div>
			<div class="close_btn close-area" onclick="closeAddModal()">X</div>
		</div>
	
		<div class="m_body">
			<!-- 팀생성일 ~ 팀 종료일 -->
			<div class="m_date">
				<p class="p">start date</p>
				<input type="text" size="10" id="teamRegDate" name="teamRegdate"></input>
				<!-- db에서 endDate입니다.(참고) -->
				<p class="pl30 p">due date</p>
				<input type="text" size="10" id="teamEndDate" name="endDate"></input>
			</div>
			
			<!-- 팀 이름 -->
			<div class="modal_label">Team Name</div>
			<input type="text" class="input_box" id="teamName" name="teamName"/>
			<!-- 팀 목료 -->
			<div class="modal_label">Team Goal</div>
			<input type="text" class="input_box" id="teamGoal" name="teamGoal"/>
			<!-- 팀 생성자 (팀 리더) -->
			<div class="modal_label">Team Leader</div>
			<input type="text" class="input_box" id="userEmail" name="userEmail"/>
			<!-- 팀 상태 -->
			<div class="modal_label">Team status</div>
			<select class="modal_selectBox" id="teamStatus" name="teamStatus">
				<option value="Y">진행중</option>
				<option value="N">완료됨</option>
			</select>
		</div>
	
		<div class="m_footer">
			<button type="button" class="modal_btn cancle" onclick="closeAddModal()">CANCLE</button>
			<button type="submit" class="modal_btn save" id="save_btn">SAVE</button>
		</div>
	</div>
</div>
</form>
<!-- 팀/프로젝트 추가 모달창 끝 -->


<div class="main-wrapper">
	
	<!-- 상단 바 -->
    <nav class="main-nav--bg">
  	<div class="container main-nav">
  
  	<!-- 상단바 - 왼쪽 검색 부분 -->
    <div class="main-nav-start">
    	<div class="search-wrapper">
        	<i data-feather="search" aria-hidden="true"></i>
        	<input type="text" placeholder="Enter keywords ..." required>
      	</div>
    </div>
    
    <!-- 상단바 - 오른쪽 부분 -->
    <div class="main-nav-end">
    	<!-- 삭제? -->
    	<!-- <button class="sidebar-toggle transparent-btn" title="Menu" type="button">
        	<span class="sr-only">Toggle menu</span>
        	<span class="icon menu-toggle--gray" aria-hidden="true"></span>
    	</button> -->
	  
	  	<!-- 1. 스위치 테마 버튼 -->
    	<button class="theme-switcher gray-circle-btn" type="button" title="Switch theme">
        	<span class="sr-only">Switch theme</span>
        	<i class="sun-icon" data-feather="sun" aria-hidden="true"></i>
        	<i class="moon-icon" data-feather="moon" aria-hidden="true"></i>
      	</button>
      
      	<!-- 2. 알림창 부분 -->
      	<div class="notification-wrapper">
        	<button class="gray-circle-btn dropdown-btn" title="To messages" type="button">
          		<span class="sr-only">To messages</span>
          		<span class="icon notification active" aria-hidden="true"></span>
        	</button>
        
        	<!-- 알림창 드롭다운 바 부분 -->
        	<ul class="users-item-dropdown notification-dropdown dropdown">
          		<li>
            		<a href="##">
	              		<div class="notification-dropdown-icon info"> <!-- 아이콘의 컬러 -->
	                		<i data-feather="smile"></i> <!-- 아이콘 -->
	              		</div>
	              		<div class="notification-dropdown-text">
	                		<span class="notification-dropdown__title">알림 타이틀</span>
	                		<span class="notification-dropdown__subtitle">알림 서브 내용</span>
	              		</div>
            		</a>
          		</li>
          		<li>
            		<a href="##">
              			<div class="notification-dropdown-icon danger">
                			<i data-feather="info" aria-hidden="true"></i>
              			</div>
              			<div class="notification-dropdown-text">
                			<span class="notification-dropdown__title">The cache is full!</span>
               			 	<span class="notification-dropdown__subtitle">Unnecessary caches take up a lot of memory space and interfere ...</span>
              			</div>
            		</a>
         		</li>
          		<li>
            		<a href="##">
              			<div class="notification-dropdown-icon info">
                			<i data-feather="check" aria-hidden="true"></i>
              			</div>
              			<div class="notification-dropdown-text">
                			<span class="notification-dropdown__title">New Subscriber here!</span>
                			<span class="notification-dropdown__subtitle">A new subscriber has subscribed.</span>
              			</div>
            		</a>
          		</li>
          		<li>
            		<a class="link-to-page" href="##">Go to Notifications page</a>
          		</li>
        	</ul>
      	</div>
      	<!-- 알림창 끝 -->
      
      	<!-- 3. 상단 바 사용자 아이콘 -->
      	<div class="nav-user-wrapper">
        	<button href="##" class="nav-user-btn dropdown-btn" title="My profile" type="button">
          		<span class="sr-only">My profile</span>
          		<span class="nav-user-img">
            		<picture><source srcset="/img/avatar/avatar-illustrated-02.webp" type="image/webp"><img src="/img/avatar/avatar-illustrated-02.png" alt="User name"></picture>
          		</span>
        	</button>
        	<ul class="users-item-dropdown nav-user-dropdown dropdown">
          		<li>
          			<a href="##">
              			<i data-feather="user" aria-hidden="true"></i>
              			<span>Profile</span>
            		</a>
            	</li>
          		<li>
          			<a href="##">
              			<i data-feather="settings" aria-hidden="true"></i>
              			<span>Account settings</span>
            		</a>
            	</li>
          		<li>
          			<a class="danger" href="##">
              			<i data-feather="log-out" aria-hidden="true"></i>
              			<span>Log out</span>
            		</a>
            	</li>
        	</ul>
      	</div>
      	<!-- 상단 바 사용자 아이콘 끝 -->
      
    </div>
    <!-- 상단바 - 오른쪽 부분 끝 -->
    
	</div>
	</nav>
	<!-- 상단바 끝 -->


<!-- 보드 메인 부분 (working board) -->
	<main class="main users chart-page " id="skip-target">
		
		<!-- (sideBar board) 보드 진입시 메인 보드 -->
		<div class="container" id="mainBoardPage">
			<div class="container">
        		<h2 class="main-title">Your WorkSpace</h2>
        		
       			<div class="sub-title">
       				<span>member권한</span>
       			</div>
        		<div class="row stat-cards" id="memberWorkspace">
        			<!-- workspace 블럭 들어감 -->
        		</div>
        		
       			<div class="sub-title">
       				<span>read 권한</span>
       			</div>
       			<div class="row stat-cards" id="observerWorkspace">
        			
        		</div>
        		
			</div>
		</div>
	
		<!-- (sideBar team/project) 팀/프로젝트 보드 리스트 -->
    	<div class="container" id="teamProjectBoard">
      		
      		<!-- 보드 상단 타이틀과 task 추가 기능 -->
	      	<div class="main-title main-board">
		    	<div class="boardTitle">
		    		<!-- 보드의 이름 (팀이나 프로젝트 명) -->
			    	<span id="boardName"></span>
		    	</div>
		    	
		    	<form action="addTask" method="post" class="addTaskBox">
			      	<input class="addTask" type="text" id="taskText" placeholder="New Task..." required>
			      	<button type="submit" class="btn btn-outline-primary addTaskBtn">Add New Task</button>
			      	<div class="addTaskValue"></div>
		    	</form>
		    	
	      	</div>
	      	<!-- 보드 상단 타이틀과 task 추가 기능 끝 -->
      
      		<!-- 보드 리스트 부분 -->
      		<div class="listBox stat-cards ">
      			<!-- todo section -->
      			<section class="list col" id="to-do">
      				<header>To Do</header>
      				<span id="to-do-content">
      				</span>
      				<!-- 디테일 아이콘 예시로 주석처리하여 남겨놓았다.
      				카드 추가시 디테일 부분까지 완성되면 지울것!
 					<article class="card">
						<header>Drag and Drop CSS</header>
						<div class="detail">
							시작일과 종료일 표시
							<i data-feather="calendar" class="detail-icon"></i>
							<span>23/03/06-24/01/01</span>
							<br/>
							댓글 개수 표시
							<i data-feather="message-circle" class="detail-icon"></i>
							<span>3</span>
							진척률
							<i data-feather="check-square" class="detail-icon"></i>
							<span>45%</span>
							첨부파일 갯수
							<i data-feather="paperclip" class="detail-icon"></i>
							<span>1</span>
						</div>
					</article> 
					-->
				</section>
				
				<!-- doing section -->
				<section class="list col" id="doing">
					<header>Doing</header>
					<span id="doing-content">
      				</span>
				</section>

				<!-- done sction -->
				<section class="list col" id="done">
					<header>Done</header>
					<span id="done-content">
      				</span>
				</section>
      		</div>
      		<!-- 보드 리스트 부분 끝 -->
      		
      	</div>
	</main>
  </div>
</div>

<!-- 보드리스트의 카드 모달창 -->
<form action="updateTask" method="post"> 
<div class="modal" id="card_modal">
	<div class="cardmodal_body">
		<div class="cardmodal-head">
			<div class="close_btn close-area" onclick="closeCardModal()">X</div>
		</div>
	
		<div class="m_body">
			<!-- 1. task title -->
			<div class="card_content">
				<i data-feather="clipboard" class="detail-icon" ></i>
				<input placeholder="title" type="text" class="input_box input-prevent taskTitle" id="taskTitle"/>
			</div>
			
			<!-- 2. member -->
			<div class="card_content">
				<i data-feather="users" class="detail-icon"></i>
				<button type="button" class="button-prevent" title="add Member" id="addTaskMember">
					<i data-feather="plus-square" class="detail-icon"></i>
				</button>
				
				<button type="button" class="button-prevent addMember">
					<i data-feather="user" class="detail-icon"></i>
					<span>member name</span>
				</button>
				
			</div>
			
			<!-- 3. date 설정 -->
			<i data-feather="calendar" class="detail-icon"></i>
			<strong>Date</strong>
			<div class="card_date">
				<button type="button" class="button-prevent button-eventnone">start Date</button>
				<input class="inputbox" type="text" id="startDate"></input>
				<!-- db에서 endDate입니다.(참고) -->
				<button type="button" class="button-prevent button-eventnone">due Date</button>
				<input class="inputbox" type="text" id="targetDate"></input>
			</div>
			
			<!-- 4. 업무 내용 -->
			<div class="card_content">
				<i data-feather="menu" class="detail-icon"></i>
				<strong>Description</strong>
				<button type="button" class="modal_btn cancle hidden" id="description_edit">EDIT</button>
			</div>
			<div id="description_content">
				<!-- 쓴 description 내용이 들어간다. -->
			</div>
			<textarea class="hidden_scroll textbox" id="description" onkeyup="resize()" onkeydown="resize()"></textarea>
			<button type="button" class="modal_btn cancle" id="description_cancle">CANCLE</button>
			<button type="button" class="modal_btn save" id="description_save">SAVE</button>
			
			<!-- 5. 파일 업로드 -->
			<div class="card_content">
				<i data-feather="file" class="detail-icon"></i>
				<strong>Attachments</strong>
			</div>
	<!-- 		<form action="uploadFile" method="post" enctype="multipart/form-data">
        		<input type="file" id="input-file" style="display:none;"/>
        		<label className="input-file-button" for="input-file">업로드</label>
        		<input calss="modal_btn save" type="submit" value="파일업로드"></input>
    		</form> -->
			<div class="card_content filebox">
				<input class="upload-name" value="첨부파일" placeholder="첨부파일">
				<label for="file" class="save fileboxBtn" >파일찾기</label>
				<input class="save fileboxBtn" type="file" id="file" style="display:none;">
				<input class="save fileboxBtn" type="submit" value="업로드">
			</div>
			
			<!-- 6. 체크 박스 -->
			<div class="card_content">
				<strong>CheckBox</strong>
				<button class="button-prevent pl10" title="add CheckBox" id="card_checkbox">
					<i data-feather="plus-square"></i>
				</button>
			</div>
			<!-- 체크박스 컨텐츠 -->
			<div id="checkbox_content">
			</div>
			
			<!-- 7. 댓글(1단) -->
			<div class="card_content">
				<i data-feather="message-circle" class="detail-icon"></i>
				<strong>Comment</strong>
			</div>
			<div class="comment_box card_content">
          		<div class="profile_box">
            		<img class="profile" src="/img/avatar/avatar-illustrated-02.png" alt="User name">
          		</div>
        		<textarea class="hidden_scroll textbox" onkeyup="resize()" onkeydown="resize()" ></textarea>
        		<button id="commentBtn" type="button" title="write comment"><i class="bi bi-chat-square-quote-fill comment_icon"></i></button>
			</div>
			<div id="comment_list">
				<div class="card_content">
				</div>
			</div>
		</div>
	
		<div class="m_footer">
			<button type="button" class="modal_btn cancle" onclick="closeCardModal()">CANCLE</button>
			<button type="button" class="modal_btn save" id="save_btn">SAVE</button>
			<!-- taskNo 실어 줄 태그 -->
			<div class="taskNoHid"></div>
		</div>
	</div>
</div>
</form>
<!-- 보드리스트의 카드 모달창 끝 -->



<!-- Icons library -->
<script src="/plugins/feather.js"></script>
<!-- Custom scripts -->
<script src="/js/script.js"></script>
<!-- weasy custom js -->
<script src="/js/weasy.js"></script>

<script th:inline="javascript">
	var msg = JSON.parse('[[${msg}]]');
	if(msg != null){
		alert(msg);
	}
	
	/* 화면이 로드 되는 제일 마지막에 내가 속한 팀리스트를 가지고와서 workspace에 뿌려준다. */
	loadMainBoard();
</script>

</body>

</html>