<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.0.min.js" ></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>

<!-- #####################팀 목록 리스트 ######################## -->
	<div style="max-height: 800px; overflow: auto;">
	
		<th:block th:each="teamVo, state : ${teamList}">
           		<article class="stat-cards-item my_card">
              	<div class="stat-cards-info">
                	<a href="#" class="stat-cards-info__num teamTask" th:text="${teamVo.teamName}"></a>
              		<input type="hidden" class="teamNo" th:value="${teamVo.teamNo}">
              	</div>
            	</article>
		</th:block>
            	
    </div>
	------------------------------------------------------------------------------------------------------
<!-- ######################팀 추가 버튼 ####################### -->
	<div>
	
			<form action="addTeam" method="post">
			
				<input type="date" value="teamRegdate" name="teamRegdate">
				<input type="date" value="endDate" name="endDate">
				<input type="text" value="teamName" name="teamName">
				<input type="text" value="teamGoal" name="teamGoal">
				<input type="text" value="userEmail" name="userEmail">
				<select name="teamStatus">
					<option value="N">완료
					<option value="Y">진행중
				</select>
				<input type="submit" value="save" class="btn"/>
			
			</form>
		
	</div>
	------------------------------------------------------------------------------------------------------
	
	<div class="addTaskBox">
	
		<!-- <form action="addTask" method="post">
			
			<input type="text" value="userEmail" name="userEmail">
			<input type="text" value="taskName" name="title">
			<input type="text" value="taskContent" name="content">
			<input type="date" value="startDate" name="startDate">
			<input type="date" value="targetDate" name="targetDate">
			<input type="submit" value="add">
		
		</form> -->
	
	</div>
	
	------------------------------------------------------------------------------------------------------
	
	<div style="max-height: 800px; overflow: auto;" class="taskListBox">
	
		<!-- <th:block th:each="taskVo : ${vo}">
           		<article class="stat-cards-item my_card">
              	<div class="stat-cards-info">
                	<p class="stat-cards-info__num" th:text="${taskVo.title}"></p>
                	${vo.title}
              	</div>
            	</article>
		</th:block> -->
    </div>
	
<script th:inline="javascript">

	var msg = JSON.parse('[[${msg}]]');
	if(msg != null){
		alert(msg);
	}
	
</script>

<script>

	$(".teamTask").click(function(e){
		/* console.dir(e.target);*/
		console.log(e.target.nextElementSibling.value);
		var teamNo = $(e.target.nextElementSibling).val();
		e.preventDefault();
		
		var task = "";
		var taskList = "";
		
		$.ajax({

			url: "../getTeamNo",
			data: JSON.stringify({teamNo: teamNo}),
			type: "post",
			contentType: "application/json",
			success: function(result){
				console.log($(e.target).next().val());
				
				task += '<form action="addTask" method="post">';
				
				task += '<input type="text" value="userEmail" name="userEmail">';
				task += '<input type="text" value="taskName" name="title">';
				task += '<input type="text" value="taskContent" name="content">';
				task += '<input type="date" value="startDate" name="startDate">';
				task += '<input type="date" value="targetDate" name="targetDate">';
				task += '<input type="submit" value="add">';
				task += '<input type="hidden" name="teamNo" value="'+$(e.target).next().val()+'">';
			
				task += '</form>';
				
				$(".addTaskBox").html(task);
				
				for(var i = 0; i < result.length; i++){
					
					taskList += '<div>';
	           		taskList += '<article class="stat-cards-item my_card">';
	              	taskList += '<div class="stat-cards-info">';
	                taskList += '<p class="stat-cards-info__num">'+result[i].title+'</p>';
	              	taskList += '</div>';
	            	taskList += '</article>';
					taskList += '</div>';
					
				}
				
				$(".taskListBox").html(taskList);
				
			},
			error: function(err){
				alert("조회에 실패했습니다.");
			}
			
		});
		
	});

</script>	

	
	
	
	
	
	

</body>
</html>






















