<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">


<th:block th:fragment="calendar(container)">

	<div class="container">
		
		<div class="calendar-container">
			
			<div class="teamList">
			
				<div class="teamListTitle">
					<span style="font-size: 20px">👥</span>
					MyTeam
				</div>
				
				<!-- 속한 팀 목록 -->
				<div class="realTeamList" style="padding-top: 4px;">
					<!-- 팀 목록 출력 -->
				</div>
				
			</div>
			
			<div class="calendarWrap">
	 			<!-- 달력 영역 -->
			</div>
		
		</div>
		
	</div>
	
	
</th:block>




