<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="task(container)">

	<!-- (sideBar team/project) 팀/프로젝트 보드 리스트 -->
	<div class="container" id="teamProjectBoard">

		<!-- 보드 상단 타이틀과 task 추가 기능 -->
		<div class="main-title main-board">
			<div class="boardTitle">
				<!-- 보드의 이름 (팀이나 프로젝트 명) -->
				<span id="boardName"></span>
			</div>

			<form action="addTask" method="post" class="addTaskBox">
				<input class="addTask" type="text" id="taskText" placeholder="New Task..." required>
				<button type="submit" class="btn btn-outline-primary addTaskBtn">Add New Task</button>
				<div class="addTaskValue"></div>
			</form>
		</div>
		<!-- 보드 상단 타이틀과 task 추가 기능 끝 -->

		<!-- 보드 리스트 부분 -->
		<div class="listBox stat-cards ">
			<!-- todo section -->
			<section class="list col" id="to-do">
				<header>To Do</header>
				<span id="to-do-content"> 
				</span>
			</section>

			<!-- doing section -->
			<section class="list col" id="doing">
				<header>Doing</header>
				<span id="doing-content"> 
				</span>
			</section>

			<!-- done sction -->
			<section class="list col" id="done">
				<header>Done</header>
				<span id="done-content"> 
				</span>
			</section>
		</div>
		<!-- 보드 리스트 부분 끝 -->
	</div>

</th:block>