<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="task(container)">

	<!-- (sideBar team/project) 팀/프로젝트 보드 리스트 -->
	<div class="container" id="teamProjectBoard">

		<!-- 보드 상단 타이틀과 task 추가 기능 -->
		<div class="main-title main-board">
			<div class="boardTitle">
				<!-- 보드의 이름 (팀이나 프로젝트 명) -->
				<span id="boardName"></span>
			</div>

			<form action="addTask" method="post" class="addTaskBox">
				<input class="addTask" type="text" id="taskText" placeholder="New Task..." required>
				<button type="submit" class="btn btn-outline-primary addTaskBtn">Add New Task</button>
				<div class="addTaskValue"></div>
			</form>
		</div>
		<!-- 보드 상단 타이틀과 task 추가 기능 끝 -->

		<!-- 보드 리스트 부분 -->
		<div class="listBox stat-cards ">
			<!-- todo section -->
			<section class="list col" id="to-do">
				<header>To Do</header>
				<span id="to-do-content"> </span>
				<!-- 디테일 아이콘 예시로 주석처리하여 남겨놓았다.
      				카드 추가시 디테일 부분까지 완성되면 지울것!
 					<article class="card">
						<header>Drag and Drop CSS</header>
						<div class="detail">
							시작일과 종료일 표시
							<i data-feather="calendar" class="detail-icon"></i>
							<span>23/03/06-24/01/01</span>
							<br/>
							댓글 개수 표시
							<i data-feather="message-circle" class="detail-icon"></i>
							<span>3</span>
							진척률
							<i data-feather="check-square" class="detail-icon"></i>
							<span>45%</span>
							첨부파일 갯수
							<i data-feather="paperclip" class="detail-icon"></i>
							<span>1</span>
						</div>
					</article> 
					-->
			</section>

			<!-- doing section -->
			<section class="list col" id="doing">
				<header>Doing</header>
				<span id="doing-content"> </span>
			</section>

			<!-- done sction -->
			<section class="list col" id="done">
				<header>Done</header>
				<span id="done-content"> </span>
			</section>
		</div>
		<!-- 보드 리스트 부분 끝 -->
	</div>

</th:block>