* {box-sizing: border-box;}

.modal {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	background-color: rgba(0, 0, 0, 0.4);
	position:fixed;
	overflow: hidden;
	z-index: 2;
}

.show {
	display: block;
}

.modal_body {
	position: absolute;
	top: 45%;
	left: 50%;
	background-color: rgba(227, 227, 227, 0.8);
	border-radius: 10px;
	box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
	transform: translateX(-50%) translateY(-50%);
}

.cardmodal_body {
	position: absolute;
 	top: 50%;
	left: 50%;
 	width: 800px;
	/* padding: 40px; */
	/* text-align: center; */
	background-color: rgba(227, 227, 227);
	border-radius: 10px;
	box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
	transform: translateX(-50%) translateY(-50%);
	max-height: 900px;
	overflow: auto;
}

.add_team_modal_body {
	position: absolute;
	top: 50%;
	left: 50%;
	background-color: rgba(227, 227, 227, 0.8);
	border-radius: 10px;
	box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
	transform: translateX(-50%) translateY(-50%);
}

.m_head {
	height: 10%;
	padding: 20px;
	display: flex;
	justify-content: space-between;
	background-color: #e7e5e5;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.cardmodal-head {
	height: 10%;
	padding: 10px;
	display: flex;
	justify-content: flex-end;
	background-color: #e7e5e5;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.m_body {
	height: 80%;
	padding: 20px;
}

.m_footer {
	height: 10%;
	padding: 15px;
	background-color: #e7e5e5;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	display: flex;
	justify-content: end;
}

.modal_title {
	font-size: 18px;
	color: gray;
	font-weight: 500;
}

.close_btn {
	font-size: 20px;
	color: rgb(139, 139, 139);
	font-weight: 900;
	cursor: pointer;
}

.modal_label {
	padding-top: 10px;
}

.input_box {
	width: 100%;
	border: 1px solid rgb(189, 189, 189);
	height: 30px;
}

.modal_btn {
	width: 80px;
	height: 30px;
	border-radius: 5px;
	text-align: center;
	font-size: 14px;
	font-weight: bolder;
	margin-left: 5px;
	font-family: sans-serif;
}

.cancle {
	background-color: white;
	color: black;
}

.save {
	background-color: rgb(50, 77, 158);
	color: white;
}

.m_date {
	display: flex;
	justify-content: space-between;
}

.m_date .p{
	text-align: center;
	height: 40px;
	line-height: 40px;
	padding-right: 10px;
}

.m_date .pl30 {
	padding-left: 30px;
}

.modal_selectBox {
	position: relative;
	width: 150px;
	height: 35px;
	border-radius: 4px;
	border: 2px solid #0061f7;
	background:
		url('https://freepikpsd.com/media/2019/10/down-arrow-icon-png-7-Transparent-Images.png')
		calc(100% - 7px) center no-repeat;
	background-size: 20px;
	cursor: pointer;
}

.detail-icon {
	margin:5px 0px;
	margin-right: 5px;
}

.hiddenBtn{
	display: none;
}

.button-prevent {
	border: 0;
	background-color: transparent;
}

.reply_button {
	padding: 0px 5px;
}

.button-eventnone {
	pointer-events: none;
}

.taskTitle{
	height: 30px;
	font-size: 30px;
	font-weight: 800;
}

.addTaskMember {
	border: 3px solid rgba(134, 182, 254);
	border-radius: 5px;
	padding: 4px;
	margin: 0px 3px;
}

.card_content{
	display: flex;
	align-items: center;
	margin: 10px 0px;
	max-width: 97%;
	overflow: hidden;
}

.card_date {
	display: flex;
	justify-content: space-around;
}

.card_date .inputbox {
	padding: 0 10px;
}

.card_date .p{
	text-align: center;
	height: 40px;
	line-height: 40px;
	padding-right: 10px;
}

.card_date .pl30 {
	margin-left: 30px;
}

#card_modal textarea {
    width: 100%;
    height: 5em;
    border: none;
    resize: none;
}

.hidden_scroll {
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
  overflow: hidden;
}

#description_edit{
	display: none;
}

.filebox .upload-name {
    height: 40px;
    padding: 0 10px;
    vertical-align: middle;
    border: 1px solid #dddddd;
    width: 78%;
    color: #999999;
    width: 400px; 
}

.fileboxBtn{
	width: 80px;
	height: 40px;
	border-radius: 5px;
	font-size: 14px;
	font-weight: bolder;
	margin: 0 0 0 5px;
	font-family: sans-serif;
	
	display: flex;
	align-items: center;
	justify-content: center;
}

.filebox input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}

.pl10 {
	padding-left: 10px;
}

.pr10 {
	padding-right: 10px;
}

.input-prevent{
	outline: none;
	background: none;
}

.input-prevent:focus{
	background: white;
}

.progressbar {
	width: 100%;
}

.checkbox_btn {
	width: 110px;
	height: 30px;
	border-radius: 5px;
	text-align: center;
	font-size: 14px;
	font-weight: bolder;
	margin-left: 21px;
	font-family: sans-serif;
}

.profile_box {
    width: 70px;
    height: 70px; 
    border-radius: 70%;
    overflow: hidden;
}
.profile {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.textbox:focus {
  outline: none;
  border: rgba(134, 182, 254, 0.5) solid !important;
  -webkit-box-shadow: 0 0 0 2px rgba(134, 182, 254, 0.5);
  box-shadow: 0 0 0 2px rgba(134, 182, 254, 0.5);
}

.comment_icon {
	font-size: 30px;
	margin: 5px;
}

#commentBtn{
	height: 5em;
	background-color: white;
}

/* 팀 생성시 검색창 css */

.searchTeamLeaderList{
	width: 469px;
	height: 30px;
	position: absolute;
	z-index: 1;
}

.searchTeamLeaderList .search-component {
	/* display: inline-block; */
	max-height: 100px;
	overflow: auto;
}

.searchTeamLeaderList .search-component::-webkit-scrollbar {
    display: none;
}

.searchTeamLeaderList .search-component li {
	padding: 10px 8px;
	background: #1E2235;
	color: #F6F8FF;
	cursor: pointer;
	transition: background .2s ease, color .2s ease;
	display: flex;
	justify-content: center;
}

.searchTeamLeaderList .search-component li:hover {
	background: #0061F7;
	color: #D6DBDF;
}


/* team member add modal */

.searchBox{
	display: flex;
	width: 800px;
	height: 500px;
	justify-content: space-around;
	align-content: flex-start;	
}

.horizontal{
	display: flex;
	justify-content: center;
	padding: 0px 10px;	
}

@import "https://fonts.googleapis.com/css?family=Open+Sans";

* {
	box-sizing: border-box;
}

.searchModal {
	/* background: #181818; */
	background: rgba(227, 227, 227);
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
}

.searchModal .content {
	/*   max-width: 1200px;
  margin:  30px auto; */
	
}

.searchModal input {
	color: #000;
}

.searchModal .title {
	margin-bottom: 8px;
	text-align: center;
	font-size: 18px;
	color: #CFD8DC;
}

.searchModal .searchtitle {
	text-align: center;
	font-size: 18px;
	color: #CFD8DC;
}

.searchModal .searchtitle span {
	color: #039BE5;
}

.searchModal .searchtitle .subtitle {
	color: white;
	font-size: 10px;
}

.searchModal .title span {
	color: #039BE5;
}

.searchModal .title .smalltitle {
	color: black;
	font-size: 10px;
}

.searchModal .search {
	text-align: center;
}

.searchModal .search-component {
	display: inline-block;
	max-height: 400px;
	overflow: auto;
}

.searchModal .search-component::-webkit-scrollbar {
    display: none;
}

.searchModal .search input {
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border: 1px solid transparent;
	outline: none;
	background: #283747;
	color: #5DADE2;
	font-size: 16px;
	text-align: center;
	border-bottom: 1px solid #90A4AE;
	font-family: 'Open Sans';
	width: 300px;
}

.searchModal .search input:focus {
	border: 1px solid #3498DB;
}

.searchModal .search .search-list li {
	padding: 10px 8px;
	background: #283747;
	color: #ABB2B9;
	cursor: pointer;
	transition: background .2s ease, color .2s ease;
	width: 300px;
}

.searchModal .search .search-list li:hover {
	background: #212F3C;
	color: #D6DBDF;
}

.chooseMemberList{
	max-height: 450px;
	overflow: auto;
}

.chooseMemberList::-webkit-scrollbar {
    display: none;
}

.chooseMemberList li {
	padding: 10px 8px;
	background: #283747;
	color: #ABB2B9;
	cursor: pointer;
	transition: background .2s ease, color .2s ease;
	width: 340px;
}

.deleteMember{
	padding-left: 20px;
	color : white;
}

.selectUser{
	display: flex;
	justify-content: space-between;
	margin: 5px;
}

.chooseMemberList li:hover {
	background: #212F3C;
	color: #D6DBDF;
}

.chooseMemberList select {
	border-radius: 4px;
    border: 2px solid #0061f7;
    background: url(https://freepikpsd.com/media/2019/10/down-arrow-icon-png-7-Transparent-Images.png) calc(100% - 7px) center no-repeat;
    color:white;
    font-size: 13px;
}

.chooseMemberList select option {
	color:black;
}

::-webkit-input-placeholder {
	color: #85C1E9;
}

::-moz-placeholder {
	color: #85C1E9;
}

/* 공지사항 모달 */
hr{
	width: 930px;
}
.noticeModal_body {
	position: absolute;
 	top: 50%;
	left: 50%;
 	width: 1100px;
	/* padding: 40px; */
	/* text-align: center; */
	background-color: rgba(227, 227, 227);
	border-radius: 10px;
	box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
	transform: translateX(-50%) translateY(-50%);
	max-height: 900px;
	overflow: auto;
}
.bigTitle{
	font-size: 30px;
	font-weight: 600;
	margin: 0px 50px;
    padding-top: 35px;
}
.nm_body{
	background-color: white;
	margin:50px;
}

.notice-content, .notice-title, .notice-info{
	padding: 0px 60px;
	background-color: white;
}
.notice-content{
	padding-top: 22px;
}
.notice-title{
	font-size: 25px;
}

.notice-img{
	/* display: block;
	margin: 0px auto; */
	margin-top: 50px;
	padding-bottom: 50px;
}

.upImg{
	background-image: url(../img/svg/Bulk/volume-2.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 21px;
}

.option{
	display: inline-block;
}

.img_test{
	padding: 50px;
}

/* css추가 수정 */
.task_title{ margin: 0px 0px 25px 0px;}
.card_member{ margin-bottom: 29px; justify-content: space-between;}
.cardmodal_body{ width: 900px;}
.profile_box{ height: 55px; margin: 0px 15px 0px 15px;}
.comment_space{ margin-bottom: 18px;}
.email_check{margin-right: 10px; }
.update_reply, .delete_reply{ margin-right: 5px;}
.comment_icon {margin-right: 15px;}
.input_comment {margin-top: 16pxs;}
.profile{height: 106%;}
.todo_chart{width: 600px;}
.todo_chart_wraper{padding: 0px 0px 3px 30px;}
.task_space{margin-top: 21px; }
.task_space_check{margin-top: 40px;}
#description{padding: 10px;}
.detail-icon{margin-right: 10px;}
.add_checkbox_wrap, .filebox {padding: 0px 0px 3px 30px;}
.textarea_wrap{width: 95%; margin: 0px 0px 3px 20px;}
.hey{margin-top: 18px;}
.checkValue{width: 25px; height: 25px;}
.taskDetailNo{margin-left: 8px;}