* {
	box-sizing: border-box;
}

.logo {
	background-image: url(../img/png/mainlogo.png);
	background-size: 49px 49px;
	border-radius: 15px;
}

html {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-ms-overflow-style: none;
}

.my_card {
	height: auto;
	border-radius: 0px;
	box-sizing: border-box;
	border: 1px solid grey;
}

.weasy-icon {
	display: inline-block;
	background-repeat: no-repeat;
	background-position: center center;
}

.weasy-logo {
	background-image: url(../img/svg/Logo.svg);
	width: 49px;
	height: 49px;
}

.box {
	width: 180px;
	height: 180px;
	border: 3px solid #829fb4;
	border-radius: 70%;
	overflow: hidden;
	margin: 10px 0px;
}

.profile {
	width: 100%;
	height: 100%;
	object-fit: scale-down;
}

.text {
	text-align: center;
}

.up {
	margin-bottom: 35px;
}

.form-label {
	font-size: 15px;
}

.bell {
	background-image: url(../img/svg/Bulk/bell.svg);
	width: 24px;
	height: 24px;
}

/* 이메일 중복 확인 버튼 */
.doubleCheck_btn {
	font-size: 15px;
	padding: 5px 0px;
	border-radius: 8px;
	margin-bottom: 10px;
}

/* 유효성검사 경고메시지 css */
.userWarningCss {
	font-size: 13px;
	color: red;
	text-align: center;
}

/* 회원가입 필수요소css */
.form-label>span {
	color: red;
}

/* 성별체크박스 css */
.gender-box {
	text-align: center;
}

.gender-label {
	font-size: 14px;
}

.weasy-check {
	margin-right: 30px;
}

/* 로그인 경고문 */
.failMessage>span {
	font-size: 13px;
	color: red;
	margin-top: 18px;
	text-align: center;
}
/* 로그인창 -> 회원가입 버튼 */
.signup_a {
	font-size: 16px;
	font-weight: 500;
	color: #2f49d1;
	padding: 13px 15px 0 0;
	text-align: right;
	font-style: italic;
}

.signup_a:hover {
	color: #002aff
}

.addTask {
	border-radius: 6px;
	background-color: rgba(134, 182, 254, 0.5);
	border-width: 0;
	min-height: 40px;
	border: solid transparent 2px !important;
	font-size: 15px;
	width: 350px;
}

.addTask:focus {
	outline: none;
	border: rgba(134, 182, 254, 0.5) solid !important;
	-webkit-box-shadow: 0 0 0 2px rgba(134, 182, 254, 0.5);
	box-shadow: 0 0 0 2px rgba(134, 182, 254, 0.5);
}

.main-board {
	display: flex;
	justify-content: space-between;
}

.main {
	padding-top: 50px;
}

.btn-outline-primary {
	width: 129px;
	font-size: 15px;
}

.addTask {
	width: 328px;
}

.main-title {
	margin-bottom: 31px;
}

/* 보드 리스트 css */

/* 추가 버튼 디자인 */
.add-task-container {
	background: #a8a8a8;
	border: #000013 0.2rem solid;
	border-radius: 0.2rem;
	padding: 0.4rem;
}

.add-button {
	background-color: #ffcb1e;
	padding: 0 1rem;
	height: 2.8rem;
	width: 10rem;
	margin-top: 0.6rem;
}

.add-button:hover {
	background-color: #ffdd6e;
}

/* 보드 리스트 디자인 */
#teamProjectBoard {
	display: none;
}

[draggable] {
	position: relative;
	-moz-user-select: -moz-none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.listBox {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

.list {
	background-color: #E3E3E3;
	border-radius: 3px;
	margin: 5px 5px;
	padding: 10px;
	width: 260px;
}

.list>header {
	font-weight: bold;
	font-size: 15px;
	line-height: 18px;
	cursor: grab;
}

.list article {
	border-radius: 3px;
	margin-top: 5px;
}

.list .card {
	background-color: #FFF;
	border-bottom: 1px solid #CCC;
	padding: 6px 8px;
	cursor: pointer;
}

.list .card:hover {
	background-color: #F0F0F0;
}

.detail {
	font-size: 12px;
	color: #939393;
}

.comment_box {
	width: 100%;
}

[data-fakenode] {
	background-color: gray;
}

.sub-title {
	font-weight: bold;
	line-height: 1.42;
	color: #171717;
	margin-bottom: 20px;
	margin-top: 30px;
}

.workspaceBtn {
	background: #1E2235;
	color: #F6F8FF;
}

.workspaceBtn .stat-cards-info__num {
	color: #F6F8FF;
}

.workspaceBtn:hover {
	background: #404663;
}

.boardTitle {
	display: flex;
	justify-content: center;
}

/* add member 버튼 css */
.round {
	background: #fff;
	color: #0069eb;
	border-radius: 30px;
	border: none;
	padding: 5px 10px;
	text-decoration: none;
}

.round:hover {
	background: #0069eb;
	color: #fff;
}

.round-icon {
	background: #0069eb;
	border-radius: 30px;
	border: none;
	color: #fff;
	font-size: 16px;
	padding: 15px 30px;
	text-decoration: none;
}

.round-icon .vl {
	width: 1px;
	border-right: 1px solid #fff;
	height: 16px;
	margin: 0 0 0 10px;
}

.round-icon i {
	font-size: 16px;
	padding-left: 10px;
	vertical-align: baseline;
}

/* 팀 sidebar 메뉴 디자인 vertical 버튼때문에 추가.. */
.cat-sub-menu {
	padding-left: 34px;
	height: 0;
}

.cat-sub-menu.visible {
	height: auto;
}

.stat-cards-info__num {
	display: flex;
	justify-content: space-between;
}

.cat-sub-menu button {
	background: none;
	color: #fff;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding: 8px 0;
	opacity: 0.6;
	color: #fff;
	font-weight: 500;
	font-size: 14px;
	line-height: 2.43;
	text-align: left;
	cursor: pointer;
	-webkit-transition: 0.3s all;
	-o-transition: 0.3s all;
	transition: 0.3s all;
	border: none transparent;
}

.cat-sub-menu {
	opacity: 0;
	visibility: hidden;
}

.cat-sub-menu.visible {
	opacity: 0.6;
	visibility: visible;
}

.cat-sub-menu.visible button:hover {
	opacity: 1;
}

.cat-sub-menu button:focus {
	outline: none;
	border: none !important;
}

/* 메뉴 컨텍스트 (사이드바에서 메뉴 옆에 점세개 누르면 나오는 컨텍스트 메뉴) */
menu {
	position: absolute;
	z-index: 1;
	margin: 0;
	padding: 3px 0 4px;
	background: rgba(255, 255, 255, 0.95);
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.35);
	border-radius: 4px;
	font-family: Lucida Grande;
	font-size: 14px;
	line-height: 15px;
	display: none;
	width: 220px;
}

menu::before {
	display: block;
	position: absolute;
	content: "";
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	border-radius: 4px;
	border: 1px solid rgba(0, 0, 0, 0.125);
	z-index: -1;
}

menu hr {
	border: none;
	height: 1px;
	background: rgba(0, 0, 0, 0.10);
	margin: 6px 1px 5px;
	padding: 0;
	width: 220px;
}

menu menuitem {
	display: block;
	padding: 0 20px;
	border-top: 1px solid rgba(0, 0, 0, 0);
	border-bottom: 1px solid rgba(0, 0, 0, 0);
}

menu menuitem::after {
	vertical-align: 2px;
	content: attr(label);
}

menu menuitem:hover {
	background: -webkit-linear-gradient(top, #648bf5, #2866f2);
	background: linear-gradient(to bottom, #648bf5 0%, #2866f2 100%);
	border-top: 1px solid #5a82eb;
	border-bottom: 1px solid #1758e7;
}

menu menuitem:hover::after {
	color: #fff;
}

/* 공지사항 */

/* reset */
.clearfix:after {
	content: '';
	display: block;
	clear: both;
}

.notice-container {
	width: 1100px;
	margin: 0 auto;
}

.blind {
	position: absolute;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	margin: -1px;
	width: 1px;
	height: 1px;
}

section.notice {
	padding: 80px 0;
	display: none;
}

.page-title {
	margin-bottom: 40px;
}

.page-title h3 {
	font-size: 28px;
	color: #333333;
	font-weight: 400;
	text-align: center;
}

#notice-search .search-window {
	padding: 15px 0;
	background-color: #0251cb;
	border-radius: 3px;
	margin-bottom: 20px;
}

#notice-search .search-window .search-wrap {
	position: relative;
	padding: 0px 80px;
	margin: 0 auto;
	width: 80%;
	max-width: 564px;
}

#notice-search .search-window .search-wrap input {
	height: 40px;
	width: 100%;
	font-size: 14px;
	padding: 7px 14px;
	border: 0;
	border-radius: 3px 0px 0px 3px;
}

#notice-search .search-window .search-wrap input:focus {
	border-color: #333;
	outline: 0;
	border-width: 1px;
}

#notice-search .search-window .search-wrap .btn {
	position: absolute;
	right: -20px;
	top: 0px;
	bottom: 0;
	width: 100px;
	padding: 0;
	font-size: 16px;
	height: 40px;
	border-radius: 0px 3px 3px 0px;
}

.notice-table {
	font-size: 13px;
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}

.notice-table a {
	color: #333;
	display: inline-block;
	line-height: 1.4;
	word-break: break-all;
	vertical-align: middle;
}

.notice-table a:hover {
	text-decoration: underline;
}

.notice-table th {
	text-align: center;
}

.notice-table .th-num {
	width: 100px;
	text-align: center;
}

.notice-table .th-date {
	width: 200px;
}

.notice-table th, .notice-table td {
	padding: 11px 0;
	margin: 50px;
}

.notice-table tbody td {
	border-top: 1px solid rgb(172, 172, 172);
	text-align: center;
}

.notice-table tbody th {
	padding-left: 28px;
	padding-right: 14px;
	border-top: 1px solid rgb(172, 172, 172);
	text-align: left;
}

.notice-table tbody th p {
	display: none;
}

.notice-btn-dark {
	background: #555;
	color: #fff;
	border-radius: 0;
}

.notice-btn-dark:hover, .btn-dark:focus {
	background: #373737;
	border-color: #373737;
	color: #fff;
}

.th-title {
	padding: 50px;
	cursor: pointer;
}
/* 공지사항 폰트 */
.notice-font {
	/* font-family: 'Jeju Myeongjo', serif; */
	font-family: 'Nanum Gothic Coding', monospace;
}

#ajaxNoticeList {
	font-size: 15px;
}

#ajaxNoticeList>tr:hover {
	background: white;
}

.search-wrap {
	display: flex;
	justify-content: center;
	align-items: center;
}

.btn-dark:hover, .btn-dark:focus {
	background: #373737;
	border-color: #373737;
	color: #fff;
}

/* reset */
.clearfix:after {
	content: '';
	display: block;
	clear: both;
}

.notice-container {
	width: 1100px;
	margin: 0 auto;
}

.blind {
	position: absolute;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	margin: -1px;
	width: 1px;
	height: 1px;
}

/* task card에서 검색창 css */
.searchTaskMember {
	display: none;
	position: absolute;
	z-index: 1;
}

.searchTaskMember input {
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border: 1px solid transparent;
	outline: none;
	background: #283747;
	color: #5DADE2;
	font-size: 16px;
	text-align: center;
	border-bottom: 1px solid #90A4AE;
	font-family: 'Open Sans';
	width: 300px;
}

.searchTaskMember input:focus {
	border: 1px solid #3498DB;
}

.searchTaskMember .search-list li {
	padding: 10px 8px;
	background: #283747;
	color: #ABB2B9;
	cursor: pointer;
	transition: background .2s ease, color .2s ease;
	width: 310px;
	text-align: center;
}

.searchTaskMember .search-list li:hover {
	background: #212F3C;
	color: #D6DBDF;
}
/* 옵션태그 */
#notice-search .search-window .search-wrap .notice-option {
	position: absolute;
	left: -5px;
	top: 0px;
	bottom: 0;
	width: 75px;
	padding: 0;
	font-size: 15px;
	height: 40px;
	text-align: center;
	border-radius: 3px;
	border: none;
}

/* notice 알림 컬러 추가 - 기존에 info(파랑) & danger(빨강) 존재 */
#userNotice .notice_horizontal {
	display: flex;
	justify-content: space-between;
}

#userNotice .purple {
	color: #5f2eea;
	background-color: rgba(116, 51, 255, 0.3);
}

#userNotice .info {
	background-color: rgba(88, 135, 255, 0.3);
	color: #5887ff;
}

#userNotice .success {
	color: #6aa84f;
	background-color: rgba(106, 168, 79, 0.3);
}

#userNotice .warning {
	color: #ffb648;
	background-color: rgba(255, 172, 50, 0.3);
}

#userNotice .grey {
	color: #a0a3bd;
	background-color: rgba(160, 163, 189, 0.3);
}

.notice-table-tr {
	font-size: 15px;
	border-top: 2px solid #505050;
	border-bottom: 2px solid #505050;
}

.notice-table-tr>th {
	padding: 7px;
}

/* 페이지네이션 */
.page {
	padding: 30px 0 20px 0;
	position: relative;
}

.page ul {
	text-align: center;
}

.page ul li {
	display: inline;
	padding: 0px !important;
}

.page ul li a {
	display: inline-block;
	zoom: 1;
	*display: inline;
	width: 35px;
	height: 35px;
	line-height: 35px;
	color: #777777;
	border: 1px solid #dddddd;
	transition: all 0.25s ease-in-out;
	-webkit-transition: all 0.25s ease-in-out;
	font-size: 15px;
}

.page ul li a:hover, .page ul li.on a {
	display: inline-block;
	zoom: 1;
	*display: inline;
	border: 1px solid #7866c9;
	background: #fff;
	color: #7866c9;
}

.page ul li a i {
	color: #777777;
}

.page ul li a:hover i {
	color: #7866c9;
}

/* profile update */
#changePw {
	display: none;
}

.top-text{ text-align: right; color: #a7a7a7; font-size: 12px; margin-top: 20px;}

.addTask::placeholder{
	color: #f3f3f3;
	padding-left: 10px;
}

input[type=radio] {
    width: 15px;
    height: 15px;
}
.profile_signup{
	width: 55px;
	height: 55px;
}	