<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.weasy.user.service.UserMapper">
	
	<!-- 회원가입 -->
	<insert id="userSignup" parameterType="UserVO">
		INSERT INTO users (userName, userEmail, userPw, phoneNum, gender, birth, nickname, profile ) 
		VALUES ( #{userName}, #{userEmail}, #{userPw}, #{phoneNum}, #{gender}, #{birth}, #{nickname}, #{profile});
	</insert>
	
	<!-- 이메일 중복확인 -->
	<select id="doubleCheck" resultType="int">
		SELECT COUNT(*) FROM users WHERE userEmail = #{email};
	</select>
	
	<!-- 로그인... -->
	<select id="login" resultType="UserVO">
		SELECT userEmail, userPw FROM users WHERE userEmail = #{check_id} and userPw = #{check_pw} ;
	</select>
	
	<!-- 승인여부 -->
	<select id="permissionId" resultType="int">
		SELECT COUNT(*) FROM users WHERE userEmail = #{check_id} and userPw = #{check_pw} and permission = 'N' ;
	</select>
	
	<!-- 검색어로 직원찾기 (승인받은 직원들 중..) -->
	<select id="searchUser" resultType="UserVO">
		SELECT userEmail, userName, nickname, permission FROM users 
		WHERE (userEmail like concat('%', #{keyword}, '%') or nickName like concat('%', #{keyword}, '%')) 
		and permission = 'Y';
	</select>
	
	<insert id="addLoginDate" parameterType="UserVO">
		INSERT INTO loginlog (userEmail, loginDate) VALUES(#{userEmail}, date_format(now(), '%Y%m%d%H%i%s'));
	</insert>
	
	<!-- 검색어로 직원찾기 (팀내의 직원들 중..) -->
	<select id="searchTaskUser" resultType="UserVO">
		select a.userEmail, u.nickname 
		from authority a
		LEFT JOIN users u
		ON a.userEmail = u.userEmail
		WHERE (a.userEmail like concat('%', #{keyword}, '%') or u.nickName like concat('%', #{keyword}, '%')) 
		and a.teamNo=#{teamNo}
	</select>
	
	<!-- 회원정보 가지고 오기 -->
	<select id="getUserInfo" resultType="UserVO">
		select userEmail, userPw, userName, nickname, permission, profile from users where userEmail=#{email};
	</select>
	
	<!--  -->
	<update id="updateUser" parameterType="UserVO">
		update users set userName=#{userName}, nickname=#{nickname}
		<if test="userPw != '' and userPw != null">
			, userPw=#{userPw}
		</if>
		where userEmail=#{userEmail};
	</update>

  </mapper>