<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.weasy.user.service.UserMapper">
	
	<!-- 회원가입 -->
	<insert id="userSignup" parameterType="UserVO">
		INSERT INTO users (userName, userEmail, userPw, phoneNum, gender, birth, nickname ) 
		VALUES ( #{userName}, #{userEmail}, #{userPw}, #{phoneNum}, #{gender}, #{birth}, #{nickname});
	</insert>
	
	<!-- 이메일 중복확인 -->
	<select id="doubleCheck" resultType="int">
		SELECT COUNT(*) FROM users WHERE userEmail = #{email};
	</select>
	
	<!-- 로그인... -->
	<select id="login" resultType="UserVO">
		SELECT userEmail, userPw FROM users WHERE userEmail = #{check_id} and userPw = #{check_pw} ;
	</select>
	
	<!-- 승인여부 -->
	<select id="permissionId" resultType="int">
		SELECT COUNT(*) FROM users WHERE userEmail = #{check_id} and userPw = #{check_pw} and permission = 'N' ;
	</select>
	
	<!-- 검색어로 직원찾기 (승인받은 직원들 중..) -->
	<select id="searchUser" resultType="UserVO">
		SELECT userEmail, userName, nickname, permission FROM users 
		WHERE (userEmail like concat('%', #{keyword}, '%') or nickName like concat('%', #{keyword}, '%')) 
		and permission = 'Y';
	</select>

  </mapper>